# Node.js
node_modules/
package-lock.json

# Vite
dist/
.vite/

# Development-specific config files
eslint.config.js
vite-env.d.ts
tsconfig*.json

# Environment variables
.env
.env.local

# Logs
*.log
